#quote-box {
    backdrop-filter: blur(600px);
    width: 700px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.fa-quote-left {
    font-size: 5rem;
    opacity: 0.3;
}

#new-quote {
    font-family: 'Source Code Pro', sans-serif;
}